<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descuentos para clientes</title>
    <link rel="stylesheet" href="">
      <script>
 var cantidad = document.getElementById("cantidad");
    cantidad.addEventListener("change", function(){

        var precioUnitario = document.getElementById("precio");
        console.log(typeof precioUnitario, typeof cantidad.value)
        document.getElementById("total").innerHTML = parseInt(cantidad.value) * precioUnitario.value;
    })  
        
} 
      </script>
</head>
<body>
   <div class="col-1 d-flex justify-content-center">
                            <form class="cantidad_item rounded" action="cantidad_item" method="POST">
                            <small id="" class="form-text text-muted">Cantidad</small>
                            <div class="def-number-input number-input safari_only">
                                <input type="number" class="form-control" style="width: 80px" id="cantidad" value="1" />
                            </div>
                            </form>
                        </div>
                    <!--precio-->
                    <div class="col-1 justify-content-end">
                        <div class="price_item">
                            <div class="price_uni_item">
                                <small class="form-text text-muted">Precio</small>
                                <p class="cart-price price_tag_total p-2 rounded bg-transparent mb-0" style="width: 100px" id="precio"> <%= carrito[i].precioUnitario %></p>
                            </div>
                        </div>
                    </div>
                    
                    <!--descuento-->
                    <div class="col-1 justify-content-end">
                        <div id="precio" class="price_item">
                        <div class="price_uni_item">
                            <small class="form-text text-muted">Descuento</small>
                            <p class="price_tag_total p-2 rounded bg-transparent mb-0" style="width: 100px" id="descuento">% <%= carrito[i].descuento %></p>
                            </div>
                        </div>
                    </div>
                    <!--total-->
                    <div class="col-1 justify-content-end">
                        <div id="precio" class="price_item">
                        <div class="price_uni_item">
                            <small class="form-text text-muted">Total</small>
                            <p class="cart-total-price price_tag_total p-2 rounded bg-transparent mb-0" style="width: 100px" id="total" ></p>
                            
                            </div>
                        </div>
                    </div>
</body>
</html>